:host {
  background: var(--primary-color);
  .logo {
		color: var(--text-color-header);
		font-weight: 700;
		font-size: calc(var(--header-height) - 10px);
		line-height: 1;
		border-radius: 50%;
		width: 80px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 5px;
	}
	.logo:hover {
		text-decoration: none;
	}
	.header-menu {
		margin: 0 0 0 auto;
		display: flex;
		align-items: center;
		height: var(--header-height);
	}
	.menu-links {
		margin-left: auto;
		margin-right: 0;
		display: flex;
		align-items: center;
	}
	.menu-link {
		color: var(--text-color-header);
		font-weight: 600;
		letter-spacing: 0.08em;
		line-height: 1;
		padding: 0 0.5em;
		display: inline-block;
	}
	nav a {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: #b4b9ba;
		font-weight: 700;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 10%;
		text-decoration: none;
		transition: color 0.3s ease;
	}
	@media screen and (max-width: 960px) {
		.menu-link {
			display: none;
		}
	}
	.switcher {
		margin: auto;
	}
	.switcher button {
		all: unset;
		cursor: pointer;
	}
	.switcher button svg {
		fill: var(--text-color-header);
	}
	.switcher select {
		appearance: none;
		background-color: transparent;
		border: none;
		padding: 0 1em 0 0;
		margin: 0;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		cursor: inherit;
		line-height: inherit;
		text-transform: uppercase;
		color: var(--text-color-header);
	}
	.logout {
		text-align: center;
	}
	.logout button {
		all: unset;
		cursor: pointer;
		font-size: 0.8rem;
		color: #b4b9ba;
		text-transform: uppercase;
	}
	.light-switcher {
		display: flex;
		align-items: center;
		margin-left: 20px;
	}
	.light-switcher button {
		all: unset;
		cursor: pointer;
		display: flex;
	}
	.light-switcher input {
		display: none;
	}
	.light-switcher .light-switch {
		width: 1.4rem;
		color: var(--text-color-header);
	}
	#header {
		position: relative;
	}
	#header.is-active {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		background: var(--primary-color);
		overflow: auto;
		min-height: 500px;
	}
	@media screen and (max-width: 768px) {
		#header.is-active {
			height: 100vh;
		}
	}
	// #header:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: var(--primary-color);
	// 	opacity: 0;
	// 	transition: opacity 0.3s ease;
  //   z-index: -1;
	// }
	// #header.is-active:after {
	// 	opacity: 1;
	// }
	// #header.is-active:after {
	// 	opacity: 1;
	// }
	.hamburger {
		background-color: transparent;
		border: 0;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		overflow: visible;
		outline: none;
		padding: 0;
		text-transform: none;
		transition: opacity 0.15s;
		-webkit-appearance: none;
	}
	.menu-toggle {
		display: inline-flex;
		align-items: center;
		gap: 36px;
		padding: 0.25rem 0;
	}
	.menu-toggle:focus-visible {
		outline: 2px solid currentColor;
		outline-offset: 4px;
	}
	.hamburger:hover {
		opacity: 0.7;
	}
	.hamburger-box {
		display: inline-block;
		position: relative;
	}
	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		width: 30px;
		height: 2px;
		background-color: var(--text-color-header);
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	#header.is-active .hamburger-inner,
	#header.is-active .hamburger-inner::before,
	#header.is-active .hamburger-inner::after {
		background-color: var(--text-color-header);
	}
	.hamburger-inner::before,
	.hamburger-inner::after {
		content: '';
		display: block;
	}
	.hamburger-inner::before {
		top: -6px;
	}
	.hamburger-inner::after {
		bottom: -6px;
	}
	#header.is-active .hamburger-inner {
		transform: rotate(45deg);
	}
	#header.is-active .hamburger-inner::before {
		top: 0;
		opacity: 0;
	}
	#header.is-active .hamburger-inner:after {
		bottom: 0;
		transform: rotate(-90deg);
	}
	.hamburger-label {
		color: var(--text-color-header);
		display: inline-block;
		font-weight: 700;
		line-height: 1;
		margin-left: 0;
		text-transform: uppercase;
	}
	#header.is-active .hamburger-label {
		color: var(--text-color-header);
	}
	#site-nav {
		clear: both;
		display: flex;
		flex-direction: column;
		height: 0;
		overflow: hidden;
		padding-top: 1em;
	}
	#site-nav.is-active {
		height: auto;
		overflow: visible;
	}
	#site-nav .col {
		padding-bottom: 1em;
	}
	@media screen and (min-width: 550px) {
		#site-nav {
			flex-direction: row;
			flex-wrap: wrap;
		}
		#site-nav .col {
			flex: 0 0 50%;
		}
	}
	@media screen and (min-width: 768px) {
		#site-nav .col {
			flex: 0 0 33.333333333%;
		}
	}
	@media screen and (min-width: 960px) {
		#site-nav {
			flex-wrap: nowrap;
		}
		#site-nav .col {
			flex: 0 0 20%;
		}
	}
	#site-nav h4 {
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color-header);
	}
	#site-nav ul {
		list-style-type: none;
		margin-top: 1em;
	}
	#site-nav li {
		margin-bottom: 0.3125em;
	}
	#site-nav li a:hover,
	#site-nav li a:focus {
		color: #686d6e;
	}
	#header .col {
		opacity: 0;
	}
	#header.is-active .col {
		transform: translateY(40px);
		transition: opacity 0.3s ease;
		animation: fade-in-stagger 0.8s ease forwards;
	}
	#header.is-active .col:nth-child(1) {
		-webkit-animation-delay: 0;
	}
	#header.is-active .col:nth-child(2) {
		-webkit-animation-delay: 0.1s;
	}
	#header.is-active .col:nth-child(3) {
		-webkit-animation-delay: 0.2s;
	}
	#header.is-active .col:nth-child(4) {
		-webkit-animation-delay: 0.3s;
	}
	#header.is-active .col:nth-child(5) {
		-webkit-animation-delay: 0.4s;
	}
	@keyframes fade-in-stagger {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
